.app-container {
  display: flex;
  min-height: 100vh;
  font-family: sans-serif;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  overflow-x: auto;
}
.App{
  display: flex;
}
